# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.javaweb.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\z50020261\javaweb\.idea\.idea.javaweb.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
